model/ant_detector_best.pt
.vscode/

weights
yolo11n.pt
yolov8n.pt

# Datas and local video
data/

# Output pesanti e log di YOLO
outputs/runs/
outputs/processed_videos/
runs/

# Ambienti virtuali e cache Python
venv/
__pycache__/
*.pyc

outputs/gifs/v1_demo_high.gif